.contenedor{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 3rem;
}

.bgimg-4 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/parallax/7.jpg");
    min-height: 100vh;
}
.logo-contac{
    width: 35vw;
}

.map{
    flex-direction: column;
    width: 60%;
    padding: 1rem;
}

.form{
    flex-direction: column;
    width: 40%;
    padding: 3rem;
}

.makeYear{
    width:42%;
    justify-content:space-between; 
    margin-right: 1rem
}


@media only screen and (max-width: 850px){

    .map,
    .form{
        width: 100%;
        padding: 2rem;
    }

    .makeYear{
        width:100%;
        margin-right: 0
    }
    .bgimg-4 {
        background-attachment: local;
        min-height: 40vh;
    }

    .logo-contac{
        width: 80vw;
    }
}