
.bgimg-1,
.bgimg-2 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgimg-3 {
    background-size: cover;
    position: relative;
    background-image: url("../../assets/3.jpg");
    min-height: 100vh;
    border-radius: 20px 20px 20px 20px;
    margin-top: 2rem;
}

.bgimg-1{
    background-image: url("../../assets/parallax/colorado.jpg");
    min-height: 100vh;
}

.bgimg-2{
    background-image: url("../../assets/parallax/colorad.jpg");
    min-height: 100vh;
}
/* .bgimg-3{
    background-image: url("../../assets/c.jpg");
    min-height: 100vh;
} */

.caption { 
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption .border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 1rem;
    letter-spacing: 10px;

}

.logo-cap{
    width: 35vw;
}

.section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}

.first{
    flex-direction: column;
    width: 70%;
}
.secunt{
    flex-direction: column;
    width: 20%;
    
}
.third{
    flex-direction: column;
    width: 20%;
}

@media only screen and (max-width: 850px){

    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: local;
        width: 100%;
    }
    
    .bgimg-1{
        min-height: 50vh;
    }
    
    .bgimg-2{
        min-height: 30vh;
    }
    .bgimg-3{
        min-height: 50vh;
    }

    .caption .border{ 
        font-size: 0.5rem;
    }

    .logo-cap{
        width: 40vw;
    }

    .first{
        text-align: center;
        width: 100%;
    }
    .secunt{
        text-align: center;
        width: 100%;
        
    }
    .third{
        width: 100%;
        text-align: center;
    }
    article{
        width: 100%;
    }
}

@media only screen and (max-width: 610px){

    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: local;
        
    }
    
    .bgimg-1,
    .bgimg-2{
        min-height: 50vh;
    }
    
    .bgimg-3{
        min-height: 50vh;
    }

    .caption .border{ 
        font-size: 0.5rem;
    }

    .logo-cap{
        width: 70vw;
        margin-top: -60px;
    }
}

@media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
    }
  
    .contact-container > div {
      flex-basis: 100%;
      padding: 1rem;
    }
  }