
.bgimg-1,
.bgimg-2,
.bgimg-3 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1{
    background-image: url("../../assets/colorado.jpg");
    min-height: 100vh;
}

.bgimg-2{
    background-image: url("../../assets/b.jpg");
    min-height: 30vh;
}
.bgimg-3{
    background-image: url("../../assets/c.jpg");
    min-height: 100vh;
}

.caption { 
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption .border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 1rem;
    letter-spacing: 10px;

}

.logo-cap{
    width: 35vw;
}

.section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}

.first{
    flex-direction: column;
    width: 70%;
}
.secunt{
    flex-direction: column;
    width: 20%;
}
.third{
    flex-direction: column;
    width: 20%;
}

@media only screen and (max-width: 850px){
    
    .bgimg-1{
        min-height: 50vh;
    }
    
    .bgimg-2{
        min-height: 30vh;
    }
    .bgimg-3{
        min-height: 50vh;
    }

    .caption .border{ 
        font-size: 0.5rem;
    }

    .logo-cap{
        width: 40vw;
    }
}

@media only screen and (max-width: 610px){
    
    .bgimg-1{
        min-height: 50vh;
    }
    
    .bgimg-2{
        min-height: 30vh;
    }
    .bgimg-3{
        min-height: 50vh;
    }

    .caption .border{ 
        font-size: 0.5rem;
    }

    .logo-cap{
        width: 70vw;
    }
}